/* Fancy Button */

.fancy-button {
    background-color: white;
    color: #1976d2;
    padding: 1%;
  }
  
  /* Top Bar */
  
  .product {
    width: 100%;
    height: 68px;
    background-color: #1976d2;
    padding: 16px;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .product h1 {
    color: white;
    margin: 0;
  }
  